/* Option 1 */
body {
    margin: 0;
    font-family: Montserrat;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 3px;

    color: #fff;
    background-color: #5ebbff;

    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.btn + .btn {
    margin-left: 8px;
}

/* Option 2 */
body {
    margin: 0;
    font-family: Montserrat;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 3px;

    color: #fff;
    background-color: #5ebbff;

    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.btn ~ .btn {
    margin-left: 8px;
}

/* Option 3 */
body {
    margin: 0;
    font-family: Montserrat;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 3px;

    color: #fff;
    background-color: #5ebbff;

    font-size: 18px;
    font-weight: 500;
    text-decoration: none;

    margin-left: 8px;
}

.btn:first-child {
    margin-left: 0;
}

/* Option 4 */
body {
    margin: 0;
    font-family: Montserrat;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 3px;

    color: #fff;
    background-color: #5ebbff;

    font-size: 18px;
    font-weight: 500;
    text-decoration: none;

    margin-right: 8px;
}

.btn:last-child {
    margin-right: 0;
}

/* Option 5 */
body {
    margin: 0;
    font-family: Montserrat;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 3px;

    color: #fff;
    background-color: #5ebbff;

    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.btn:nth-child(2),
.btn:nth-child(3) {
    margin-left: 8px;
}
