* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.6rem;
    font-family: "PT Sans", sans-serif;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.site-header {
    position: relative;
    width: 100%;
    min-height: 497px;

    background-image: url("../img/scholars-banner.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.site-header::before {
    content: "";
    position: absolute;
    /* màu đen sẽ bao phủ toàn bộ ảnh nền */
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.site-header__menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #000;
}

.site-header__inner {
    position: sticky;
    top: 0;
    z-index: 1;
}

.site-header__nav {
    margin-left: 68px;
}

.site-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__menu {
    display: flex;
    align-items: center;
}

.site-header__item {
    max-width: 135px;
    background-color: transparent;
    position: relative;
}

.site-header__link {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    display: block;
    padding: 20px 25px;
}

.site-header__sub-menu {
    width: 220px;
    position: absolute;
    top: 100%;
    left: 0;

    opacity: 0;
    transform: scale(1, 0);
    transform-origin: 100% 2%;

    transition: all 0.4s ease;

    z-index: 2;
}

.site-header__item:hover .site-header__sub-menu {
    opacity: 1;
    transform: scale(1, 1);
}

.site-header__menu,
.site-header__sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-header__sub-item {
    background-color: #fff;
    transition: all 0.4s ease;
}

.site-header__sub-item:hover {
    background-color: #b80257;
}

.site-header__sub-link {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    display: block;
    padding: 15px 24px;
    white-space: nowrap;

    transition: all 0.4s ease;
}

.site-header__sub-item:not(:last-child) .site-header__sub-link {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.site-header__sub-link:hover {
    padding-left: 29px;
}

.site-header__sub-item:hover .site-header__sub-link {
    color: #fff;
}

.site-header__actions {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.site-header__actions i {
    color: #fff;
}

.site-header__search {
    position: relative;
}

.site-header__search-toggle {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.site-header__search-toggle i {
    font-size: 1.8rem;
}

.site-header__search-form {
    position: absolute;
    top: 38px;
    right: -15px;
    height: 55px;
    width: 280px;
    background-color: #fff;
    padding: 5px;

    opacity: 0;
    visibility: hidden;
}

.site-header__search:focus-within .site-header__search-form {
    opacity: 1;
    visibility: visible;
}

.site-header__search-input {
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid #ececec;
    padding: 0 49px 0 10px;
}

.site-header__search-submit {
    position: absolute;
    height: 45px;
    width: 48px;
    right: 6px;
    top: 5px;

    border: none;
    background-color: #b80257;
    cursor: pointer;
}

.cart-shopping i {
    font-size: 2rem;
}

.site-header__breadcrumb {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 222px 0 190px 0;
}

.site-header__breadcrumb-title {
    font-size: 3.2rem;
    font-weight: 700;
    color: #fff;
    z-index: 3;
}

.site-header__breadcrumb-path {
    color: #ccc;
    font-weight: 400;
    z-index: 3;
}

.course-catalog {
    margin-top: 110px;
}

.course-catalog__layout {
    display: grid;
    grid-template-columns: 270px minmax(0, 1fr);
    gap: 30px;
}

.course-catalog__sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.course-catalog__search {
    height: 43px;
    position: relative;
}

.course-catalog__search-input {
    width: 100%;
    height: 100%;

    border: 1px solid #e8e8e8;
    border-radius: 22px;
    background-color: #fff;

    padding: 0 40px 0 20px;
}

.course-catalog__search-submit {
    position: absolute;
    right: 0px;

    height: 43px;
    width: 40px;
    text-align: left;

    border: none;
    background: transparent;

    cursor: pointer;
}

.course-catalog__search-submit i {
    color: rgba(0, 0, 0, 0.5);
}

.course-catalog__search-input:focus-within {
    outline: none;
}

.course-catalog__filter-title {
    color: #141414;
    font-weight: 700;
    margin-bottom: 20px;
}

.course-catalog__filter-list {
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.course-catalog__filter-link {
    display: block;
    line-height: 40px;

    padding-left: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);

    transition: all 0.4s ease;
}

.course-catalog__filter-link:hover {
    padding-left: 35px;
    color: #783df0;
}

.course-catalog__content {
    display: flex;
    flex-direction: column;
}

.course-catalog__tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.course-catalog__tab-link {
    padding: 10px 20px;
    border-radius: 22px;

    /* line-height: 60px; */
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);

    transition: all 0.3s ease;
}

.course-catalog__tab-link:hover {
    background-color: #783df0;
    color: #fff;
}

.course-catalog__tab-link.active {
    background-color: #783df0;
    color: #fff;
}

.course-catalog__grid {
    margin-top: 60px;
}

.course-catalog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.course-card__image {
    display: block;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    border-radius: 12px 12px 0 0;
}

.course-card__inner {
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-top: 0;
    border-radius: 0 0 12px 12px;
}

.course-card__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.course-card__title a {
    text-decoration: none;
    color: #464646;
}

.course-card__desc {
    color: #000;
    line-height: 22px;
    margin: 20px 0 20px 0;
}
