* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.6rem;
    font-family: "PT Sans", sans-serif;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.site-header {
    width: 100%;
    min-height: 497px;

    background-image: url("../img/scholars-banner.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.site-header__nav {
    margin-left: 68px;
}

.site-header__inner {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__menu {
    display: flex;
    align-items: center;
}

.site-header__item {
    max-width: 135px;
    padding: 20px 25px;
    background-color: transparent;
    position: relative;
}

.site-header__link {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.site-header__sub-menu {
    width: 220px;
    position: absolute;
    top: 100%;
    left: 0;

    opacity: 0;
    transform: scale(1, 0);
    transform-origin: 100% 2%;

    transition: all 0.4s ease;
}

.site-header__item:hover .site-header__sub-menu {
    opacity: 1;
    transform: scale(1, 1);
}

.site-header__sub-item {
    background-color: #fff;
    transition: all 0.4s ease;
}

.site-header__sub-item:hover {
    background-color: #b80257;
}

.site-header__sub-link {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    display: block;
    padding: 15px 24px;
    white-space: nowrap;

    transition: all 0.4s ease;
}

.site-header__sub-item:not(:last-child) .site-header__sub-link {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.site-header__sub-link:hover {
    padding-left: 29px;
}

.site-header__sub-item:hover .site-header__sub-link {
    color: #fff;
}

.site-header__actions {
    display: flex;
    align-items: center;
    gap: 30px;
}

.site-header__actions i {
    color: #fff;
}

.site-header__search-toggle {
    position: relative;
    position: relative;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.site-header__search-form {
    position: absolute;
    right: 160px;
    top: 80px;
    height: 55px;
    width: 280px;
    background-color: #fff;
    padding: 5px;
}

.site-header__search-input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border: 1px solid #ececec;
    padding: 0 49px 0 10px;
}
